nav.navbar {
  background-color: #4056a1;
}


.mainpage {
  position: relative;
}

.main-header {
  /* position: absolute; */
  width: 30%;
  margin-left: 2em;
  margin-top: 2em;
}

.container {
  /* position: absolute; */
  width: 100%;
  display: flex;
}

.tweetsection {
  margin: auto;
  width: 50%;
}